@using RentalStore.Models
@model List<RentalStore.Models.RentalViewModel>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Manage Rentals</h1>
<p>
	<a asp-action="CreateRentalAdmin" asp-controller="Admin">Create New Rental</a>
</p>
<form asp-controller="Admin" asp-action="RentalManager" method="get">
	<p>
		<select name="searchType">
			<option value="All">All</option>
			<option value="CustomerName">Customer Name</option>
			<option value="MovieName">Movie Name</option>
			<option value="DateRented">Rented Date</option>
			<option value="DateReturned">Returned Date</option>
			<option value="NotReturned">Movies not returned</option>
			<option value="DaysRented">Number of days rented</option>
			<!-- Add other search types as needed -->
		</select>

		Title: <input type="text" name="searchString" />
		<input type="submit" value="Filter" />
	</p>
</form>



<table class="table table-striped">
	<thead>
		<tr>
			<th>Customer</th>
			<th>Movie title</th>
			<th>Date Rented</th>
			<th>Days rented</th>
			<th>Image</th>
			<th>Returned</th>
			<th>Date returned</th>
			<th>Return movie</th>
			<th>View Details</th>
			<th>Delete Rental</th>

		</tr>
	</thead>
	<tbody>
		@if (Model != null)
		{

			@foreach (var rental in Model)
			{
				<tr>
					<td>@rental.Customer.FirstName</td>
					<td>@rental.Movie.Title</td>
					<td>@rental.DateRented.ToString("yyyy/MM/dd")</td>
					<td>@rental.NumberOfDaysRented</td>
					<td>
						@if (@rental.Movie.MovieImage != null)
						{
							<img id="profilePicture" style="width:50px;height:50px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(@rental.Movie.MovieImage))">
						}
						else
						{
							<img src="../images/default_image.webp" alt="No Image" style="width:50px;height:50px; object-fit:cover">
						}

					</td>
					<td>
						<input type="checkbox" disabled checked="@rental.IsReturned" />
					</td>
					@if (@rental.DateReturned != null)
					{
						<td>@(rental.DateReturned.HasValue ? rental.DateReturned.Value.ToString("yyyy/MM/dd") : "N/A")</td>

					}
					else
					{
						<td>Movie not returned</td>
					}
					@if (@rental.IsReturned != true)
					{
						<td>
							<form method="post" asp-controller="Rental" asp-action="ReturnMovie" asp-route-rentalId="@rental.Id">
								<button type="submit" class="btn btn-primary">Return</button>
							</form>
						</td>
						<td>
							<a class="btn btn-primary" asp-route-rentalId="@rental.Id">Details</a>
						</td>
						<td>
							<a class="btn btn-primary" asp-route-rentalId="@rental.Id">Delete</a>
						</td>
					}
					else
					{
						<td>
							<form method="post" asp-controller="Rental" asp-action="ReturnMovie" asp-route-rentalId="@rental.Id">
								<button disabled type="submit" class="btn btn-primary">Return</button>
							</form>
						</td>
						<td>
							<a class="btn btn-primary" asp-route-rentalId="@rental.Id">Details</a>
						</td>
						<td>
							<a class="btn btn-primary" asp-route-rentalId="@rental.Id">Delete</a>
						</td>
					}
				</tr>
			}
		}
		else
		{
			<p>No movies available.</p>
		}
	</tbody>
</table>
